@{
    ViewBag.Title = "Index";
}

<h2>Vanilla</h2>

@section scripts {
    <script src="@Url.Content("~/Scripts/app/thrones.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/vanilla/app.js")" type="text/javascript"></script>
}